
<!DOCTYPE html>
<html>
   <head>	  
   	<h1 align="center" style="font-size:50px;color:blue;">Restaurant Finder</h1>   	
      <title>Restaurant Finder</title>
      <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">          
          <link rel="stylesheet" href="static/bootstrap.min.css">
          <link rel="stylesheet" href="static/flask_tuts.css">
          <link rel="stylesheet" href="static/leaflet.css">
          <link rel="stylesheet" href="static/loading.css">
          <script type="text/javascript" src="static/jquery.min.js"></script> 
          <script type="text/javascript" src="static/jquery-1.11.0.min.js"></script>       
          <script type="text/javascript" src="static/bootstrap.min.js"></script>  
          <script type="text/javascript" src="static/leaflet.js"></script>                 
          <script type="text/javascript" src="static/flask_tuts.js?version=0.4"></script>       
          
   </head>

   <body>   	
        <div class="container-fluid">      	
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        {{message}}
                    </div>
      	            <div class="row">
           	            <input type="text" id = "_model" class="form-control mt-2" placeholder="City" required>
                    </div>       
	                <div class="row">
        	            <input type="text" id = "_price" class="form-control mt-2" placeholder="State" required>
                    </div>

                </div>     
            </div>        
	    </div>

    </body>
</html>